<!--
   - Footer template
   - Use in <div class="container marketing">
   -
   - @author Harry Mumford-Turner
   -->

<link rel=stylesheet href="css/footer.css">

<footer class="global-footer">
<div class="footer-nav" role="navigation">
	<ul class="footer-menu">
	<li class="logo"><a href="http://www.harrymt.com">&copy; Harry Mumford-Turner</a></li>
	<li><a href="#">About</a></li>
	<li><a href="#">Contact</a></li>
	</ul>
	<div class="clearfix"></div>
	<ul class="social-menu">
	<li><a href="https://github.com/harrymt"><i class="fa fa-github"></i></a></li>
	<li><a href="https://twitter.com/mumf_"><i class="fa fa-twitter"></i></a></li>
	</ul>
</div>
<div class="clearfix"></div>
</footer>