<!-- 
   - Navbar template
   - Use in <div class="container marketing">
   - 
   - @author Harry Mumford-Turner
   -->

<!-- START OF LEFT FEATURETTE -->
<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-loocator"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-5">
  <img style="border-radius:0%;" class="featurette-image img-responsive" src="img/projects/featurette-loocator.png" alt="loocator">
</div> <!-- ./col-md-5 -->

<!-- RIGHT -->
<div class="col-md-7">
  <h2 class="featurette-heading">loocator 
    <span class="text-muted">Find the best rated toilets on campus</span></h2>
  <p class="lead">At the University of Nottingham Hackathon, as a part of @Hacksoc, I created a team to build this webapp. Using php templating with Twig and composer to create a well constructed back-end. The Facebook API was used to extract data on the users displaying it with Jquery and boostrap to create an easy to use front end.</p>

<!--           <a class="btn btn-default" href="https://github.com/harrymt/loocator">
  <img width="30px" height="30px" src="img/GitHub-Mark-120px-plus.png" alt="GH">&nbsp;The project on Github</a>
-->
</div> <!-- ./col-md-7 -->

</div> <!-- ./row featurette -->
<!-- END OF LEFT FEATURETTE-->




<!-- START OF RIGHT FEATURETTE -->


<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is used to center the heading -->
<a id="project-redesign-site"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- Left -->
<div class="col-md-7">
  <h2 class="featurette-heading">Complete redesign 
    <span class="text-muted">It'll blow your mind.</span></h2>
  <p class="lead">New colours, new style, new everything. <br/>
    To redesign the website I used <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.
    A sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
    <br/> Check out the <a href="view-source:http://harrymt.tk/" target="_blank">source code</a> of this site for more info.
   </p>
</div> <!-- ./co-md-7 -->

<!-- Right -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-Bootstrap.png" alt="Bootstrap">
</div> <!-- ./col-md-5 -->

</div> <!-- ./row featurette -->
<!-- END OF RIGHT FEATURETTE -->



<!-- START OF LEFT FEATURETTE -->

<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-AtoBPlus"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>

<!-- LEFT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-AtoBPlus.png" alt="Bootstrap">
</div> <!-- ./col-md-5 -->

<!-- RIGHT -->
<div class="col-md-7">
  <h2 class="featurette-heading">Better route planning
    <span class="text-muted">No Problem</span></h2>
  <p class="lead">Using the Google Maps API with Android in Eclipse we are in the process of designing
   an Android app. AtoB+. This creates alternative routes for avoiding right turns, 
   hills and traffic lights. <br/>
    Group project tutor <i>Andrew Parks</i> &middot; 
    <a href="https://code.cs.nott.ac.uk/p/gp13-ajp/" target="_blank">Project site</a>
  </p>
</div> <!-- ./col-md-7 -->

</div> <!-- ./row featurette -->
<!-- END OF LEFT FEATURETTE-->




<!-- START OF RIGHT FEATURETTE -->


<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-sports-tracking"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-7">
  <h2 class="featurette-heading">Sports Tracking System
    <span class="text-muted">Oh yeah, it's that good</span></h2>
  <p class="lead">Graphical User Interfaces using JavaFX in Eclipse, I created a system that multiple users
    could track their diet and exercises over time.</p>
  <a class="btn btn-default" href="https://github.com/harrymt/GUISports">
  <img width="30px" height="30px" src="img/GitHub-Mark-120px-plus.png" alt="GH">&nbsp;View my progress on Github</a>
</div> <!-- ./co-md-7 -->

<!-- RIGHT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-SportsTrackingSys.png" 
  alt="Sports tracking system">
</div> <!-- ./col-md-5 -->

</div> <!-- ./row featurette -->
<!-- END OF RIGHT FEATURETTE -->



<!-- START OF LEFT FEATURETTE -->

<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-pop3"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-Pop3.png" alt="Pop3 Server code">
</div> <!-- ./col-md-5 -->

<!-- RIGHT -->
<div class="col-md-7">
  <h2 class="featurette-heading">Pop3 Mail Server 
    <span class="text-muted">Go on, test with a real client</span></h2>
  <p class="lead">A functional Pop3 server in Java, interpreting commands, translating them into SQL database commands. This assignment was for my G52APR module, where the marks will be released in January 2014 and I will update the project based on feedback. </p>

  <a class="btn btn-default" href="https://github.com/harrymt/APR">
  <img width="30px" height="30px" src="img/GitHub-Mark-120px-plus.png" alt="GH">&nbsp;View my progress on Github</a>

</div> <!-- ./col-md-7 -->

</div> <!-- ./row featurette -->
<!-- END OF LEFT FEATURETTE-->


<!-- START OF RIGHT FEATURETTE -->


<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-tshirt-designer"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-7">
  <h2 class="featurette-heading">T-Shirt Designer 
    <span class="text-muted">Complete redesign</span></h2>
  <p class="lead">Edit characteristics of T-Shirts and order them.
   The orders save here in a csv file.
   Project to re-design the site starts December 2013.
   </p>
   <a class="btn btn-default" href="https://github.com/harrymt/WPS">
   <img width="30px" height="30px" src="img/GitHub-Mark-120px-plus.png" alt="GH">&nbsp;View my progress on Github</a>
</div> <!-- ./co-md-7 -->

<!-- RIGHT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-Tshirtdesigner.png" alt="T-Shirt">
</div> <!-- ./col-md-5 -->

</div> <!-- ./row featurette -->
<!-- END OF RIGHT FEATURETTE -->


<!-- START OF LEFT FEATURETTE -->

<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-graphics"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-Graphics.png" alt="Graphics">
</div> <!-- ./col-md-5 -->

<!-- RIGHT -->
<div class="col-md-7">
  <h2 class="featurette-heading">Graphic Design
    <span class="text-muted">The Eye for design</span></h2>
  <p class="lead">Inspiration is like DNA, every idea is like a strand, you merge several ideas to create
  another. This features elements from the previous, but is a new idea in its own right.
  <i>- Harry Mumford-Turner </i> <br/>
  <br/>
  I have a 
  <a href="http://harrymt.imgur.com/"> gallery</a>
  of my work on 
  <a href="http://harrymt.imgur.com/"> imgur</a>
  which contains key elements from various work briefs.</p>
</div> <!-- ./col-md-7 -->

</div> <!-- ./row featurette -->
<!-- END OF LEFT FEATURETTE-->


<!-- START OF RIGHT FEATURETTE -->


<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-disARM"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-7">
  <h2 class="featurette-heading">disARM in C
    <span class="text-muted">Elf yourself</span></h2>
    <p class="lead">Converting .elf files into ARM instructions. 
     
    </p>
  <a class="btn btn-default" href="https://github.com/harrymt/disARM">
  <img width="30px" height="30px" src="img/GitHub-Mark-120px-plus.png" alt="GH">&nbsp;View my progress on Github</a>
</div> <!-- ./co-md-7 -->

<!-- RIGHT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-disArm.png" alt="disARM">
</div> <!-- ./col-md-5 -->

</div> <!-- ./row featurette -->
<!-- END OF RIGHT FEATURETTE -->


<!-- START OF LEFT FEATURETTE -->

<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-bus-stop-locator"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-FindBsStops.png" alt="Bus stops">
</div> <!-- ./col-md-5 -->

<!-- RIGHT -->
<div class="col-md-7">
  <h2 class="featurette-heading">Locate the nearest bus stops
    <span class="text-muted">In a mile radius you specify</span></h2>
  <p class="lead">The program displays the nearest bus stops in a particular radius of a particular 
    postcode. Shell script, Sed and Awk were used along with the bus stop data from 
    <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap.org</a></p>

  <a class="btn btn-default" href="https://github.com/harrymt/USTBS">
  <img width="30px" height="30px" src="img/GitHub-Mark-120px-plus.png" alt="GH">&nbsp;View my progress on Github</a>
</div> <!-- ./col-md-7 -->

</div> <!-- ./row featurette -->
<!-- END OF LEFT FEATURETTE-->


<!-- START OF RIGHT FEATURETTE -->


<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-Ekans"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-7">
  <h2 class="featurette-heading">A game in Python
    <span class="text-muted">A variant on Snake</span></h2>
  <p class="lead">A game in Python I created a variant on the classic Snake game adding a backwards twist. Starting with an almost full snake, each cube collected reduced your snake. Improving our coding practices we used the Agile technique Pair Programming.
   </p>
  <a class="btn btn-default" href="https://github.com/harrymt/Ekans">
  <img width="30px" height="30px" src="img/GitHub-Mark-120px-plus.png" alt="GH">&nbsp;View my progress on Github</a>
</div> <!-- ./co-md-7 -->

<!-- RIGHT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-Ekans.png" alt="Ekans">
</div> <!-- ./col-md-5 -->

</div> <!-- ./row featurette -->
<!-- END OF RIGHT FEATURETTE -->

<!-- START OF LEFT FEATURETTE -->

<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-old-site"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-Oldsite.png" alt="Old site">
</div> <!-- ./col-md-5 -->

<!-- RIGHT -->
<div class="col-md-7">
  <h2 class="featurette-heading">Old and unused
    <span class="text-muted">Something nobody wants to be</span></h2>
  <p class="lead">The old site had limited functionality and minimal content, lucky I revamped
    the site (see above), to make it as good as new :)</p>

  <a class="btn btn-default" href="https://github.com/harrymt/site2012">
  <img width="30px" height="30px" src="img/GitHub-Mark-120px-plus.png" alt="GH">&nbsp;View my progress on Github</a>
</div> <!-- ./col-md-7 -->

</div> <!-- ./row featurette -->
<!-- END OF LEFT FEATURETTE-->


<!-- START OF RIGHT FEATURETTE -->


<hr class="featurette-divider">
<div class="row featurette">
<!-- padding-top is uaws to center the heading -->

<a id="project-STS"><div class="featurette-seperator"style="padding-top: 100px;"></div></a>
<!-- LEFT -->
<div class="col-md-7">
  <h2 class="featurette-heading">A tracking system for students
    <span class="text-muted">For Tutors</span></h2>
  <p class="lead">My A-Level project involving a tracking system for students for Tutors to use.
    I used Visual Basic to design the UI and the program.
   </p>

  <a class="btn btn-default" href="https://github.com/harrymt/SSSALevel">
  <img width="30px" height="30px" src="img/GitHub-Mark-120px-plus.png" alt="GH">&nbsp;View my progress on Github</a>

</div> <!-- ./co-md-7 -->

<!-- RIGHT -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="img/projects/featurette-STS.png" alt="Student Tracking">
</div> <!-- ./col-md-5 -->

</div> <!-- ./row featurette -->
<!-- END OF RIGHT FEATURETTE -->


<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->