<!-- 
   - Projects in grid form template
   - 
   - @author Harry Mumford-Turner
   -->

<div class="container">
  
  <div class="row" style="text-align:center;">
    <div class="col-lg-8 col-lg-offset-2">
      <!-- padding-top is used so as not to obsecure content when going from navbar -->
      <a id="projects"> <div class="projects-start"style="padding-top: 50px;"></div> </a>
      <h1 class="main-heading">Projects</h1>
      <br/><br/>
    </div>
  </div>

<!-- New Project in a Box Row -->
  <div class="row">

  <!-- 12 Projects Currently 27.Feb.2013 -->

    <!-- New Project 12 start -->
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">loocator</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">90%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>This project was created at the first Hackathon I went to, at the University of Nottingham, @Hacksoc. <br>
          The web app tracks the best rated toilets on campus near you. <br> <br>
          Our team won first prize.
          </p>

          <div class="more-details" >
              <small>Project started February 2014</small>
              <br>
              <br>
          <a href="#project-loocator">
          <button type="button" class="btn btn-warning">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 12 END --> 

  <!-- New Project 11 start -->
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">Updating this website</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 completion">50%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            Re-designing the entire website using Bootstrap js and css files for easy website designing. 
            This should fortify my css and html skills.
            <br/><br/>
            This will be an on-going project with many changes to follow.
          </p>

           <div class="more-details" >
              <small>Project started December 2013</small>
              <br>
              <br>
            <a href="#project-redesign-site">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-warning">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 11 END -->  

<!-- New Project 10 start -->
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">A to B+</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">50%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            In my 2nd year of University I am in a group project with 6 colleges. 
            We are developing an Android app in Java to try and better the mapping of routes from 
            a point A to a point B.
            <br/>
            <br/> We are currently in the design stage of the project with a final deadline of March 2014.
          </p>

             <div class="more-details" >
              <small>Project started September 2013</small>
              <br>
              <br>
          <a href="#project-AtoBPlus">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-warning">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 10 END --> 


  <!-- New Project 9 start -->
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">Sports tracking system</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">90%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            I created a GUI in java using JavaFX for the UI, this featured a tracking system 
            for sports activities in which the user could add, remove and update sports entries 
            saving them in an xml file. This project was for my G52GUI module, where the marks 
            will be released in January 2014 and I will update the project based on feedback.
            </p> 


          <br /> 
            <div class="more-details" >
              <small>Project Finished November 2013</small>
              <br>
              <br>
          <a href="#project-sports-tracking">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-warning">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 9 END --> 

  <!-- New Project 8 start -->
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">Pop3 Server</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">90%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            I created a functioning Pop3 server in Java, interpreting commands and translating 
            them into SQL database commands. This was tested with a real mail client to fully complete 
            the project.
            This assignment was for my G52APR module, where the marks will be released in January 2014 
            and I will update the project based on feedback.
          </p>


          <div class="more-details" >
               <small>Project started October 2013</small>
              <br>
              <br>
          <a href="#project-pop3">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-warning">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 8 END -->

  <!-- New Project 7 start -->
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">T-Shirt redesign</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">90%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            For the G51WPS module I created a website using html, css and php in which a user 
            could edit the characteristics of a T-Shirt and order a set quantity. 
            The orders were saved on a server in a csv file.
            I am in the process of re-designing the site to abide with the look of this sites new design.
          </p>

          <br/> 
                    <div class="more-details" >
                    <small>Project started December 2013</small>
              <br>
              <br>
          <a href="#project-tshirt-designer">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-warning">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 7 END --> 



<!-- Note maybe mark Graphic design work and list all projects I did here..? 
or... not -->
  <!-- New Project 6 start -->
    <div class="col-lg-4">
      <div class="panel panel-success">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">Graphic Design Work</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">100%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            For my Graphic Design A-level I produced logos, leaflets, chocolate boxes and websites 
            for various briefs.  I was the best in my class achieving 98% overall. This includes work 
            for Enactus, in which I produced stickers, Facebook cover photos, profile pictures and alterative 
            logos for a Commercial venture, The Great Escape.
          </p>

          <br /> 
                    <div class="more-details" >
              <small>Projects started September 2011 to present</small>
              <br>
              <br>
          <a href="#project-graphics">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-success">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 6 END -->


  <!-- New Project 5 start -->
    <div class="col-lg-4">
      <div class="panel panel-success">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">disARM</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">100%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            As part of the G51PRG module on my degree course we were instructed to implement a C 
            program that would disassemble an ARM Executable-and-Linked-File (ELF) and return the 
            original instructions used.
          </p>

            <div class="more-details" >
              <small>Project finished January 2013</small>
              <br>
              <br>
          <a href="#project-disARM">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-success">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 5 END -->  

  <!-- New Project 4 start -->
    <div class="col-lg-4">
      <div class="panel panel-success">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">Nearest Bus Stops</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">100%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            As part of my G51UST Module, I had to produce a program which displays the nearest 
            bus stops in a particular radius of a particular postcode. Shell script, Sed and Awk 
            were used along with the bus stop data from OpenStreetMap.org.
          </p>

          <br /> 
                    <div class="more-details" >
              <small>Project Finished January 2013</small>
              <br>
              <br>
          <a href="#project-bus-stop-locator">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-success">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 4 END --> 

  <!-- New Project 3 start -->
    <div class="col-lg-4">
      <div class="panel panel-success">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">PyGame: Ekans</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">100%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            The G51FSE module involved a paired task, creating a game in Python using the PyGame 
            library. My partner and I created a variant on the classic Snake game adding a backwards 
            twist. Starting with an almost full snake, each cube collected reduced your snake. 
            Improving our coding practices we used the Agile technique Pair Programming.
            </p>

          <br/>
                    <div class="more-details" >
              <small>Project Finished December 2012</small>
              <br>
              <br>
          <a href="#project-Ekans">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-success">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 3 END --> 

  <!-- New Project 2 start -->
    <div class="col-lg-4">
      <div class="panel panel-success">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">Old website</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">100%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            The old design of this website with limited rescources, projects and functionality. 
            I decided to update the site and keep the old version to display.
            <br/><br/>
            I keep this here because it is a good reflection of how far the new website has come.
          </p>
          

          <br /> 
          <div class="more-details" >
              <small>Project Finished September 2012</small>
              <br>
              <br>
          <a href="#project-old-site">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-success">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 2 END -->

 <!-- New Project 1 start -->
    <div class="col-lg-4">
      <div class="panel panel-success">
        <!-- panel-danger  for < 30%  projects -->
        <!-- panel-warning for >= 30% projects -->
        <!-- panel-success for = 100% projects -->
        <div class="panel-heading">

          <!-- PANEL TITLE -->
          <div class="row">
            <div class="col-lg-10 col-sm-10 col-10">
              <h3 class="panel-title">Student tracking system</h3>
            </div>
            <div class="col-lg-2 col-sm-2 col-2 pull-right completion">100%</div>
          </div> <!-- ./row -->
       
        </div> <!-- ./panel-heading -->

        <div class="projectDescription">
          <p>
            I created a system that tracked student profiles for a Oxford Open Learning 
            Tutors as part of my A-Level Computing course. I created a program with a smooth 
            GUI using Visual Basic that kept a record of all the students the tutor has received 
            and produced a printable tracking sheet for selected pupils.
          </p>

          <div class="more-details" >
              <small>Project finished May 2012</small>
              <br>
              <br>
          <a href="#project-STS">
          <!-- Only mark buttons as success when project is success -->
          <button type="button" class="btn btn-success">More details &raquo;</button>
          </a>
          </div>
        </div> <!-- ./projectDescription -->
      </div> <!-- ./panel panel-success -->
    </div> <!-- col-lg-4 -->
  <!-- Project 1 END -->

  </div>
<!-- END OF PROJECTS -->

</div> <!-- ./container -->

